body {
    background-color: #FFF5E4;
}

hr {
    border-style: none;
    border-top-style: line;
    border-color: black;
    border-width: 5px;
    height: 21px;
    width: 5%;
}

h1, h3 {
    color: #850E35;
}